main{

    h1{
        text-align: center;
        text-wrap: balance;
    }

    h3{
        margin: 1.3em 0;
    }

    ol{
        display: flex;
        flex-direction: column;
        gap:20px;
        li{
            img{
                max-width: 100%;
                height: fit-content;
                margin: 20px 0;
                object-fit: contain;
            }
            a{
                color:var(--rbx-red);
                text-decoration: underline;        
            }
        
            padding-left: 15px;
            &::marker{
                color: var(--rbx-red);
                font-weight: bold;
            }
        }
    }
}


header{

    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    background: var(--rbx-black);
    position: sticky;
    top:0;



    .back{
        display: flex;
        flex-direction: row;
        color:var(--rbx-tp-black);
        text-transform: lowercase;
        font-weight: 600;
        align-items: center;
        gap: 5px;
    
        svg{
            width: 20px;
            height: 20px;
            fill:var(--rbx-tp-black);
        }
    }


}


.f-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}